@media(max-width: 575px){
    html {
        overflow-x: hidden
    }

    body {
        overflow-x: hidden
    }

    .img{
        width:100%;
    }

    .header{
        margin: 30px 10px;
    }

    .title{
        width: 50%;
    }

    .divider{
        margin: 29px 162px;
    }

    h2{
        width: 50%;
    }


    .divider_black{
        margin: 35px 162px;
    }

    .text_name{
        margin: 0 142px;
    }

    .sub_title_black{
        width: 371px;
        margin: 0;
        height: 275px;
        
    }

    .title_name_ourbest{
        margin: 0 142px;
    }

    .ourbest{
        width: 100%;
        
    }

    .grid_coffe {
        display: grid;
        grid-template-columns: repeat(auto-fit,326px);
        justify-items: center;
        justify-content: space-evenly;
    }

    .container_footer {
        margin: 0 -494px
    }
}