@media(max-width: 575px){
    html {
        overflow-x: hidden
    }

    body {
        overflow-x: hidden
    }

    .img{
        width:100%;
    }

    .header{
        margin: 30px 10px;
    }

    .title{
        width: 50%;
    }

    .divider{
        margin: 29px 162px;
    }

    h2{
        width: 50%;
    }


    .divider_black{
        margin: 35px 162px;
    }

    .text_name{
        margin: 0 142px;
    }

    .sub_title_black{
        width: 371px;
        margin: 0;
        height: 329px;
        
    }

    .title_name_ourbest{
        margin: 0 142px;
    }

    .ourbest{
        width: 100%;
        
    }

    .grid_coffe {
        display: grid;
        grid-template-columns: repeat(auto-fit,326px);
        justify-items: center;
        justify-content: space-evenly;
    }

    .container_footer {
        margin: 0 -494px
    }

    .price_coffe{
        padding-right: 53px;
    }

    .grid_our_coffe {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1065px);
        justify-items: start;
        justify-content: center;
        margin-top: 20px;
    }   

    .title_for{
        width: 50%;
    }

    .title_our_coffe{
        width: 35%;
        margin:  10px 0px;
    }

    .text_our_coffe{
        width: 374px;
    }

    .grid_coffee{
        display: grid;
        grid-template-columns: repeat(1, 337px);
        grid-gap: 35px;
        margin: 18px 26px;
        justify-items: center;
        justify-content: space-between;
    }

    .divider_our_coffe{
        margin: 491px 71px;
    }

    .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        justify-content: flex-start;
        margin: -454px 0;
        align-content: center;
        flex-direction: row;
        align-items: baseline;
    }    

    .block_coffee{
        margin: 10px 86px;
    }

    .footer {
        padding-top: 236px
    }   
    
    .grid_about_for_our_goods {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1065px);
        justify-items: start;
        justify-content: center;
        margin-top: 20px;
    }
    
    .title_for_our_goods{
        width: 35%;
        margin: 10px 0px;
    }
    
    .text_for_our_godds{
        width: 374px;
    }

    .divider_for_our_goods {
        display: none;
    }

    #grid{
        display: grid;
        grid-template-columns: repeat(1, 337px);
        grid-gap: 35px;
        margin: 523px 26px;
        justify-items: center;
        justify-content: space-between;
    }
}